.main {
    margin: 15px;
     position: relative;
    transition: transform 0.3s ease-in-out; 
    transform: translateY(1%);

}

.main:hover {
    filter: brightness(90%);
    transform: scale(1);
    transform: translateY(0);
    transition: transform .5s ease;
  }

.cardContent {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 8px; 
    text-align: center;
    width: calc(100% - 16px); 
    overflow: hidden;
}



.cardContent p {
    margin: 0;
    color: white;
    text-align: center;
}
